#bodyindex{
    background-color: rgba(90, 231, 172, 0.781);
}
.banner{
    display: block;
    justify-content: center;
    border-radius: 8px;
    margin: 0 auto;

}
.menu {
    list-style: none;
    border: 2px solid rgb(rgb(49, 209, 169), green, blue);
    float: left;
 

}
.menu li{
    position: relative;
    float: left;
    border: 2px solid rgb(33, 146, 118);
    background-color: white;
}
.menu li a {
    color: black;
    text-decoration: none;
    padding: 5px 12px;
    display: block;
}
.menu li a:hover {
    background: rgb(6, 133, 48);
    color: white;
    text-shadow: 5px 2px 5px rgba(33, 146, 118, 0.705);
}


.rodape {
    background-color: rgb(17, 139, 44);
    color: white;
    height: auto;
    width: 100%;
    font-size: 13px;
    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.rodape a {
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
}
.rodape-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div2 {
    display: flex;
    padding-left: 300;
    padding-right: 500 ;
}
.rodape span {
    color:aquamarine
}

#bodycadastro{
    background-color: rgb(93, 255, 141);
}

form fieldset{
    border: solid color(a98-rgb rgb(15, 1, 94) green blue);
}
#bodygaleria{
    background-color: rgb(200, 248, 190);
}
.titulosecao{
    text-align: center;
}
.galeria-produtos{
    list-style: none;

}
.galeria-produtos img{
    width: 300px;
    height: 200px;
}
.galeria-servicos{
    list-style: none;

}
.galeria-servicos img{
    width: 300px;
    height: 200px;
}
.rodape img{
    width: 50px;
    height: 50px;
}
#bodysobrenos{
    background-color: rgb(19, 122, 33);
}
.titulohistoria{
    text-align: center;
}
.imgquemsomos{
    text-align: center;
}
.imgquemsomos img{

    width: 600px;
    height: 400px;
    margin-bottom: 35px;
    margin-top: 35px;
    
}
.videoquemsomos{
    text-align: center;
}
.videoquemsomos video{
    width: 600px;
    height: 400px;
    margin-bottom: 35px;
    margin-top: 35px;

}
.listamedicamentos,.listasuplementos,.listacuidados {
    list-style: none;
    padding: 0;      
    margin: 40px auto;
    border-radius: 10px;
}


.medicamento,.suplemento,.cuidado,.item-produtos {
    display: flex; 
    align-items: center;
    padding: 25px;


}

.medicamento img,.suplemento img,.cuidado video, .item-produtos img { 
    max-width: 300px;
    height: 300px;
    display: block;
    margin: 0;
}


.infomedicamento,.infosuplemento,.infocuidado {
    flex-grow: 1;
}

.infomedicamento h2,.infosuplemento h2,.infocuidado h2 {
    font-size: 1.5em;
    color: #2e7d32; 
    margin-top: 0;
    margin-bottom: 10px;
}

.infomedicamento p,.infosuplemento p,.infocuidado p {
    margin-bottom: 0;
}


 .medicamento, .suplemento, .cuidado, .item-produtos {
        flex-direction: column;
        text-align: center;
        padding: 20px;
}

    .medicamento img, .suplemento img, .cuidado video,  .item-produtos img {
        margin: 0 auto 20px auto;
}

#bodycatalogo{
    background-color: rgba(111, 245, 70, 0.781);
}
